
    <h1>{{name}}</h1>
  <div class="container-of-country">
    <div class="country-description">
      <h2>Capital: <span>{{capital}}</span></h2>
      <h2>Population: <span>{{population}}</span></h2>
      <h2>Languages:</h2>
      <ul>
        {{#each languages}}
        <li>{{name}}</li>
        {{/each}}
      </ul>
    </div>
    
    <div>
      <img src={{flag}} alt={{name}} />
    </div>
  </div>


